*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
body{
    background-image: url('../images/BG1600-1000.jpg');
    background-size: cover;
    background-position: center;
}
img{
    width: 100%;
    vertical-align: bottom;
}
.container{
    max-width: 1000px;
}
i{
    font-size: 38px;
    color: #fff;
    cursor: pointer;
    transition: all .3s linear;
}
i:hover{
    color: blanchedalmond;
}