*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
body{
    background-image: url('../images/BG1600-1000.jpg');
    background-size: cover;
    background-position: center;
}
img{
    width: 100%;
    vertical-align: bottom;
}
.container{
    max-width: 1000px;
}
i{
    font-size: 38px;
    color: #fff;
    cursor: pointer;
    transition: all .3s linear;
}
i:hover{
    color: blanchedalmond;
}
footer{
    height: 60px;
    line-height: 60px;
}
a{
    color: #ffc107;
    text-decoration: none;
    transition: all .3s linear;
}
a:hover{
    color: #fff;
}
.box{
    border-radius: 50%;
    border: #ffc107 solid 5px;
    font-size: 2em;
    text-align: center;
    transition: all .3s linear;
}
.box:hover{
    border-radius: 50%;
    border: #fff solid 5px;
    color: #fff;
}
#list ul li{
    text-align: center;
    list-style: none;
    font-size: 24px;
}