<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header class="grid-flex">
        <div id="logo"><h1>My LOGO</h1></div>
        <menu>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">SERVICE</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </menu>
        <div id="hamburger">
            <div class="hamT"></div>
            <div class="hamM"></div>
            <div class="hamB"></div>
        </div>
    </header>
    <div id="theme">
        <div class="slide">
            <div class="img">
                <img src="https://picsum.photos/1600/900?random=1">
            </div>
            <div class="img">
                <img src="https://picsum.photos/1600/900?random=2">
            </div>
            <div class="img">
                <img src="https://picsum.photos/1600/900?random=3">
            </div>
            <div class="img">
                <img src="https://picsum.photos/1600/900?random=4">
            </div>
            <div class="img">
                <img src="https://picsum.photos/1600/900?random=5">
            </div>
        </div>
        <div class="push">
            <h2>THEME NAME</h2>
            <p>服飾行情始終大學多年供應商立即更新電話後來，對手怎麼各種第一傳來榮譽，正式以便語音任何衝突推動這。</p>
            <a href="#" class="btn-theme">MORE...</a>
        </div>
    </div>
    <div id="theme-text" class="grid-flex">
        <div class="grid-2">
            <h2>THEME ILLUSTRATE</h2>
            <p>
                是這樣在我一條營養最佳房子特色照顧豐原及時一人穿著一張，人間本頁主持告訴你神話還能零售，更好包含整個跟我言論某個不可能不可能，我就影響參觀她們，以前課堂各種放下你在，改造言論瀏覽聲音前來銷售上面，不禁是指所在地魅力一口他不連續存款到了字體以為無法影響不要，中央加工谷歌作用，所在交給迅速我看是我主營，民眾原理中港路高度蒐集體內英語我不聊天富岡業績將其新鮮這場，別人目標宜蘭之後無聊聲音，痛苦浪費強化本人戰略用品奧客，給你本月德國下面各個已經，有一定一套保障配合還是相關多個口氣，兩人證書紛紛我會神話不如遊戲積極實施讓你沒想到，這時春節通過反正鈴聲幾乎然後教材感興趣春天，居然命運姐姐法國現代化形象明。
            </p>
        </div>
        <div class="grid-2">
            <p>
                昨日表現購物，我覺得微軟哪裡拍攝寶貝把他一塊矛盾享受網際快車，聊天命令能源留言板麻煩，通過男女斗內，推出年輕人哥哥，限制直播主中間某種解釋法規都不短信日報現實客服缺乏，維護背後身影套件推坑王關鍵字我家兒子消費方法禮物細節版主，重點交通，湖北解壓鈴聲青草湖，媽媽起來不是春天必然，最為實施合作兒子來到申請帶著信號國有信箱你知道估計當初，刷新實際上還沒有就有設施和我自己，事情動漫請大家態度，也能另外權。
            </p>
            <p>
                戰略平方米有所觀眾註冊，少年合作不得不大學開發，文本幸福，眼中自身一份移動或是對面花園完美商業近日留言，情況幾乎像是網路如何支付危險涉及盯着當年，滿足第二章討論區是由植物用途主人收益，可能會等方面哈。
            </p>
        </div>
        <div class="grid-3">
            <i class="fa-brands fa-canadian-maple-leaf fa-4x"></i>
            <h3>PAGE</h3>
            <p>
                高速陷入方向鈴聲下載男子觀點年度有關寶貝，本帖畢竟直播主，刷新廣播交換的話總體此次詢問你好發貼，無聊如果製造試試回家這個問題優勢，上來跟着在那裡會計，對方處理。
            </p>
        </div>
        <div class="grid-3">
            <i class="fa-solid fa-leaf fa-4x"></i>
            <h3>LEAF</h3>
            <p>
                要是例如手續轉移在這裡我去個性那時求助，不必一塊對不起母親導致足球格式，嘗試配套他也不住，一定安裝有點遠全面任何人遵守，能學到傳說認為不多青草湖，之外寂寞女子馬上問題，學術過了收。
            </p>
        </div>
        <div class="grid-3">
            <i class="fa-solid fa-clover fa-4x"></i>
            <h3>ILLUSTRATE</h3>
            <p>
                病毒防止插入都會有的背後，安全學生第二表示，如此嚴格不能下載長時間名字更新時間機場服飾體內歷史，加入時間金額笑容困難用戶政府冠軍垃圾接口如今面臨一致。
            </p>
        </div>
    </div>
    <div id="blog" class="grid-flex">
        <div class="grid-1 black">
            <h2>BLOG'S DESIGN</h2>
            <p>地圖一面宅宅主席表示兒童報名困難起來草魚搜尋，還可以她說一種此次新。</p>
        </div>
        <div class="grid-6">
            <img src="https://picsum.photos/500/500?random=1">
            <div class="push">PAGE-1</div>
        </div>
        <div class="grid-6">
            <img src="https://picsum.photos/500/500?random=2">
            <div class="push">PAGE-2</div>
        </div>
        <div class="grid-6">
            <img src="https://picsum.photos/500/500?random=3">
            <div class="push">PAGE-3</div>
        </div>
        <div class="grid-6">
            <img src="https://picsum.photos/500/500?random=4">
            <div class="push">PAGE-4</div>
        </div>
        <div class="grid-6">
            <img src="https://picsum.photos/500/500?random=5">
            <div class="push">PAGE-5</div>
        </div>
        <div class="grid-6">
            <img src="https://picsum.photos/500/500?random=6">
            <div class="push">PAGE-6</div>
        </div>
        <div class="grid-1 grid-flex">
            <h3 class="grid-1">BLOG'S ILLUSTRATE</h3>
            <p class="grid-1">有限責任公司記憶，媽媽於是是什麼瞬間未知老婆你的小子一切。</p>
            <div class="grid-3">
                <img src="https://picsum.photos/600/400?random=1">
                <h4>TITLE</h4>
                <p>批准記者笑話隊伍走出傷心簡體學習一步歡迎回去宣傳，如果您令人模糊，大型四個供應身影幹什麼使用只能根本飯店，理由購物，勞。</p>
                <a href="#" class="btn-theme">MORE...</a>
            </div>
            <div class="grid-3">
                <img src="https://picsum.photos/600/400?random=2">
                <h4>TITLE</h4>
                <p>批准記者笑話隊伍走出傷心簡體學習一步歡迎回去宣傳，如果您令人模糊，大型四個供應身影幹什麼使用只能根本飯店，理由購物，勞。</p>
                <a href="#" class="btn-theme">MORE...</a>
            </div>
            <div class="grid-3">
                <img src="https://picsum.photos/600/400?random=3">
                <h4>TITLE</h4>
                <p>批准記者笑話隊伍走出傷心簡體學習一步歡迎回去宣傳，如果您令人模糊，大型四個供應身影幹什麼使用只能根本飯店，理由購物，勞。</p>
                <a href="#" class="btn-theme">MORE...</a>
            </div>
        </div>
    </div>
    <div id="about">
        <div class="grid-2">
            <h2>ABOUT'S DESIGN</h2>
            <p>民族鬱悶學科工人網路又是，太麻里建材動作成功嘗試回家上一頁今後觀念相信以為國有主任，黑色供應我愛下。</p>
            <a href="#" class="btn-theme">MORE...</a>
        </div>
    </div>
    <div id="service" class="grid-flex">
        <div class="grid-1">
            <h2>SERVICE'S DESIGN</h2>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, perferendis iure. Magni eveniet pariatur aliquam error dignissimos? Ab suscipit fugiat fugit obcaecati voluptatem. Vero dolore assumenda fuga ipsa animi dignissimos?</h3>
            <a href="#" class="btn-theme">MORE</a>
            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, esse accusantium repellendus sapiente corrupti non.</h5>
        </div>
        <div class="grid-3">
            <div class="push">
                <h4>TITLE</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, rem obcaecati. Molestiae expedita iusto quam nobis, sequi tempora repellendus quis sint quos sunt nostrum cum fugit quisquam. Repellendus, explicabo vitae?</p>
                <a href="#!" class="btn-theme">MORE</a>
            </div>
        </div>
        <div class="grid-3">
            <div class="push">
                <h4>TITLE</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, rem obcaecati. Molestiae expedita iusto quam nobis, sequi tempora repellendus quis sint quos sunt nostrum cum fugit quisquam. Repellendus, explicabo vitae?</p>
                <a href="#!" class="btn-theme">MORE</a>
            </div>
        </div>
        <div class="grid-3">
            <div class="push">
                <h4>TITLE</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, rem obcaecati. Molestiae expedita iusto quam nobis, sequi tempora repellendus quis sint quos sunt nostrum cum fugit quisquam. Repellendus, explicabo vitae?</p>
                <a href="#!" class="btn-theme">MORE</a>
            </div>
        </div>
    </div>
    <div id="contact" class="grid-flex">
        <div class="grid-6">
            <h3>contact</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, provident recusandae. Sequi rem a minima officia magnam cumque iure fugiat similique neque perspiciatis, mollitia aperiam ex vitae nemo et ullam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, provident recusandae. Sequi rem a minima officia magnam cumque iure fugiat similique neque perspiciatis, mollitia aperiam ex vitae nemo et ullam.</p>
        </div>
        <div class="grid-6">
            <h3>商家資訊</h3>
            <table>
                <tr>
                    <td><i class="fa-solid fa-location-dot"></i></td>
                    <td>台北市信義區一段</td>
                </tr>
                <tr>
                    <td colspan="2"><hr></td>
                </tr>
                <tr>
                    <td><i class="fa-solid fa-phone"></i></td>
                    <td>02584565</td>
                </tr>
                <tr>
                    <td colspan="2"><hr></td>
                </tr>
                <tr>
                    <td><i class="fa-solid fa-fax"></i></td>
                    <td>15616161</td>
                </tr>
                <tr>
                    <td colspan="2"><hr></td>
                </tr>
                <tr>
                    <td><i class="fa-solid fa-envelope"></i></td>
                    <td>fajkfa;lsdf@gmail.com</td>
                </tr>
            </table>
        </div>
        <div class="grid-6">
            <h3>lorem links</h3>
            <a href="#!">特徵應用如同最為高。</a>
            <hr>
            <a href="#!">到處企業，考試批評。</a>
            <hr>
            <a href="#!">身體傷害，最多誠信。</a>
            <hr>
            <a href="#!">官員在我優秀，基隆就是。</a>
            <hr>
            <a href="#!">條件包含，能源交易，地區下。</a>
        </div>
        <div class="grid-6">
            <h3>商家歷史</h3>
            <h4><a href="#!">太陽到處共有強大你。</a></h4>
            <p>路線生意公園初步也就是估計說話屬於網咖高達這就是，說到行情舉報本公司，特別是指。</p>
            <hr>
            <h4><a href="#!">世界上有着，都有保護較。</a></h4>
            <p>路線生意公園初步也就是估計說話屬於網咖高達這就是，說到行情舉報本公司，特別是指。</p>
        </div>
    </div>
    <footer>
        CopyRight &copy; All Right - 陳暐仁
    </footer>
</body>
</html>
<script>
    let HB = document.querySelector("#hamburger");
    let Menu = document.getElementsByTagName("menu")[0];
    let hamT = document.getElementsByClassName("hamT")[0];
    let hamM = document.getElementsByClassName("hamM")[0];
    let hamB = document.getElementsByClassName("hamB")[0];
    HB.addEventListener("click", function(){
        if(Menu.style.display == "none" || Menu.style.display == ""){
            Menu.style.display = "block";
            hamT.style.transform = "rotate(26deg)";
            hamB.style.transform = "rotate(-26deg)";
            hamM.style.opacity = "0";
        }else{
            Menu.style.display = "none";
            hamT.style.transform = "rotate(0deg)";
            hamB.style.transform = "rotate(0deg)";
            hamM.style.opacity = "1";
        }
    })
</script>